
<form class="login" name="f1"
[formGroup]="form"
  (ngSubmit)="OnSubmit(form.value)">
    <h1> Sign in</h1>
    Username:<br><br>
    <input type="text" name="username" style="height: 29px;border-radius:15px;"size="50" placeholder="enter mobile no or email-id" formControlName="username"><br><br>
    Password:<br><br>
    <input type="password" name="password" style="height: 29px;border-radius:15px;" size="50" placeholder="**********" formControlName="password"><br><br>
    Captcha <input type="image" name="imgbtn" style =" position: absolute;left:45%;" src="../assets/imgs/refresh.png" (click)="func1()">
    <div class="captcha" id="pastedata"> </div><br><br><br><br>
    Enter the text which shown at upper box:<br><input type="text" style="height: 29px;border-radius:15px;" size="50" id = "printdata"><br><br>
    <input type="submit" class="login_bt" value="Login" (click) = "func2($event)"><br><br><br><br>
    <button class="create_bt"  name="create_acc" routerLink="/signup">Create New Account</button><br><br><br><br>
    <a href="**" style="position: absolute;left:38%;color:whitesmoke;"routerLink = "/forgotpassword" >forgot password???</a>
</form>
