.for_pass
{
    position: fixed;;
    left:35%;
    top:35%;
    width:30%;
    height:20%;
    background-color: dimgrey;
    border-radius:15px;
    color:white;
    font-size:18px;
    z-index:3;
}
input[type='submit']:hover
{
    background-color: lightslategray;
}
.btn_send
{
     position:absolute;
     top:70%;
     left:44%;
     height:29px;
     border-radius:15px;
     background-color:darkgrey;
     color:white;
     font-size:15px;
}
