

<div class="signup" name="f1">
    <h1> Sign Up</h1>
    Email:<br><br>
    <input type="text" name="username" style="height: 29px;border-radius:15px;"size="50" placeholder="enter email-id"><br><br>
    Password:<br><br>
    <input type="password" name="password" style="height: 29px;border-radius:15px;" size="50" placeholder="**********"><br><br>
    Mobile No:<br><br>
    <input type="text" name="mobile-no"  style="height: 29px;border-radius:15px;" size="50" placeholder="enter mobile no" ><br><br><br><br>
    DOB:
    <input type="text" name="date"  style="height: 29px;border-radius:15px;" size="20" placeholder="DD/MM/YY">
   <div style="position: absolute; left: 60%;top:64%;width:50%;height:15%;"> Gender:
    <select style="width:33%;height:33px;border-radius:15px;">
        <option value="male" style="height:33px;border-radius:15px;" size="40">Male</option>
        <option value="female" style="height: 33px;border-radius:15px;"  size="40">Female</option>
    </select> </div><br><br><br>
    <button class="create_bt" name="create_acc">Create Account</button>
</div>>

    

